@page
@model credit_fraud_detection_app.Pages.InfoPageModel
@{
	ViewData["Title"] = "Info";
}



<div class="info-page-container">
	<h1>O projektu</h1>
	<hr/>
	<p>
		Ova web aplikacija služi kao pokazni primjer rada modela strojnog 
		učenja za detekciju prijevara transakcije upotrebom kreditne kartice.
		
		Izradio ju je student Luka Markić kao projektni zadatak u sklopu kolegija Računarstvo usluga i analiza podataka 
		koji se izvodi na diplomskom studiju računarstva Fakulteta elektrotehnike, računarstva i informacijskih tehnologija Osijek.
	</p>
	<h1>Upute za upotrebu</h1>
	<hr/>
	<p>
		Za testiranje rada web aplikacije potrebno je otići na web mjesto pod nazivom <a asp-area="" asp-page="/Checkout">Obrada transakcije</a>. Na navedenom web mjestu nalazi se obrazac ispune podataka.
		Prvi dio tog obrasca predstavlja košaricu u kojoj je odabran proizvod jedinične cijene 1 € u svrhu olakšanog testiranja. Potrebno je unijeti količinu proizvoda odnosno cijenu kupovine, primjerice količinu 12.5 što će rezultirati cijenom od 12.5 €. 
		Na sljedećoj slici moguće je vidjeti izgled sučelja košarice.
	</p>
	<img class="info-page-img" src="images/kosarica.png" alt="Kosarica" width="1100">
	<p>
		Drugi dio obrasca odnosi se na unos osobnih podataka koje je potrebno unijeti kako bi nastavili s narudžbom. Obrazac se sastoji polja za ispunu Vašeg imena, prezimena, broja kreditne/debitne kartice, iznosa prosječne kupovine. 
		Iznos prosječne kupovine predstavlja prosjek koji Vi kao korisnik potrošite pri jednoj kupovini. Također je potrebno odabrati mjesto Vašeg stanovanja i mjesto posljednje kupovine, a ukoliko ste ponovni korisnik ovog servisa potrebno je označiti odgovarajaući upit.
		Nakon ispune svih podataka potrebno je pritisnuti gumb <span>Provjeri</span> kako bi nastavili s narudžbom. Na sljedećoj slici moguće je vidjeti obrazac unosa osobnih podataka s fokusom na način odabira mjesta posljednje kupovine.
		Mjesto je potrebno upisati nakon čega se ponude opcije od kojih je potrebno odabrati jednu, a ne samo upisati ime mjesta.
	</p>
	<img class="info-page-img" src="images/unos podataka.png" alt="Unos podata" width="1100" style="margin-bottom:50px;">
	
</div>
