@page
@model credit_fraud_detection_app.Pages.SignUpModel
@{
}



<h1>Prijava korisnika</h1>
<section>
  <form method="post">
	  <p>Osobne informacije</p>
	  <input type="text" name="email" placeholder="Email adresa" />
	  <input type="text" name="zaporka" placeholder="Zaporka" />
	  <button type="submit">Save</button>
  </form>
</section>
